<template name="userSettings">
  {{>navBar}}
  <div class='bodyView'>
    <div class='userSettingsView'>
      <form action="/" class="userSettings"> 
        <p>
          <label for="name"><input value="{{chosenName}}" name="name" class='name-input'> Name</label>
        </p>
        <p>
          <label for="phone"><input value="{{chosenPhoneNumber}}" name="phone" type='tel' > Phone</label>
        </p>
        <p>
          <label for="email"><input value="{{chosenEmail}}" name="email" type='email'> Email</label>
        </p>
        <p>
          <button class='save-user-btn'>Save Changes</button>
        </p>
      </form>
    </div>
  </div>
</template>
