<template name="giblet">
  <div class='giblet'>
    <h1>{{taskname}}</h1>
    <div><input type="url" value="{{url}}"></div>
    <div><input type="text" value="{{keywords}}"></div>
    <label for="SMS">SMS <input type="checkbox" checked="{{SMS}}"></label>
    <label for="email">Email <input type="checkbox" checked="{{email}}"></label>
    <label for="on/off">
      {{#if active}}
        <span><input type="radio" name="task" value="male" checked> On</span>
        <span><input type="radio" name="task" value="female"> Off</span>
      {{else}}
        <span><input type="radio" name="task" value="male"> On</span>
        <span><input type="radio" name="task" value="female" checked> Off</span>
      {{/if}}
    </label>
  </div>
</template>
