<template name='gibletForm'>
  <div class='addGiblet'>
    <form action="/" class="gibletForm">
      <p>
        <input type="text" name="taskname" placeholder="Title for this job/giblet">
      </p>
      <p class="urlInput">
        <input type="url" urlCount="1" name="url" placeholder="Url to search">

        <img class="addUrlButton" src="https://cdn1.iconfinder.com/data/icons/freeline/32/add_cross_new_plus_create-128.png" height="20px" alt="">

      </p>
      <p>
        <input type="text" name="keywords" placeholder="Keywords to search for, eg. keyword1, keyword2">
      </p>
      <p>
        <label for="SMS"><input type="checkbox" name="SMS"> Text Me!</label>
      </p>  
      <p> 
        <label for="Email"><input type="checkbox" name="email"> Email Me!</label>
      </p>
       <input type="number" name="frequency" placeholder="Search Frequency min">
      <p>
        <button>Submit</button>
      </p>
    </form>
  </div>
</template>