<template name="addGiblet">
  <nav>
    {{>navBar}}
  </nav>
 <form action="/" class="addGiblet">
   <input type="text" name="taskname" placeholder="Title for this job/giblet">
   <input type="url" name="url" placeholder="Url to search">
   <input type="text" name="keywords" placeholder="Keywords to search for, eg. keyword1, keyword2">
   <div>
     <span>Notifications
     	<br/>
     	<label for="SMS">Text Updates<input type="checkbox" name="SMS"></label>
     	<label for="Email">Email Updates<input type="checkbox" name="email"></label>
     </span>
   </div>
   <span>Check the website...
   	<input type="number" name="frequency" placeholder="Number of times">
   	Per Day
   </span>
   <button>Submit</button>
 </form>
</template>
