<template name="userSettings">
  <div class='userSettingsView'>
    <nav>
      {{>navBar}}
    </nav>
    <form action="/" class="userSettings"> 
      <label for="name">Name<input name="name" class='name-input'></label>
      <label for="phone">Phone:<input name="phone" type='tel' pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}'></label>
      <label for="email">Email:<input name="email" type='email'></label>
      <button class='save-user-btn'>Save Changes</button>
    </form>
  </div>
</template>

<!-- 
    FUTURE DEV:
      consolidate messages flag
    prof pic
    username/password maybe?
    Suspend account -->

    <!-- pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}' -->
