* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {

}
.container {
  width: 100%;
}

.header {
  background-color: white;
  clear: none;
}

.login {

}
