* {
  font-family: sans-serif;
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: rgb(197,50,0);
  min-width: 425px;
}

.container {
  height:100%;
}

.header {
  padding: 10px 0px 10px 10px;
  clear: none;
}

.header > h1 {
  font-size: 75px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px black;
}

nav {
  background-color: rgb(84,70,0);
}

nav > a {
  color: white;
  display: inline-block;
  padding: 10px
}

nav > a:hover {
  background-color: rgb(196,150,100);
}

.mainBody {
  background-color: rgb(255,139,0);
  padding-bottom: 10px;
  border-bottom: 10px solid rgb(84,70,0);
}

input[type="text"] {
  border: none;
  margin: 3px;
  background: #f2f2f2;
  /*width: 80%;*/
}

input:focus {
  outline: none;
}

.bodyView {
  margin: 10px;
}

.big_plus_div {
  width: 30px;
}

.giblet {
  position: relative;
  margin: 5px 5px 10px 5px;
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  max-width: 800px;

  margin: 10px;
}

.userSettingsView {
  font-size: 30px;
}
.userSettingsView:input {
  font-size: 40px;
  height: 40px;
}
.userSettingsView:label {
  margin: 50px;
}

.urlLine {
  height: 15px;
}
.urlLine:input[type="text"] {
  width: 80%;
}

.urlTextInput {
  font-size: 15px;
  height: 30px;
}

.gibletTitleInput {
  height:100px;
  font-size:30pt;
}

.removeGibletButton {
  position: absolute;
  top: -10px;
  right: -10px;
  float: right;
}

.littleButton {
  margin-top: 10px;
}

.urlLine {
  clear: both;
}

.urlTextInput {
  float: left;
  width: 90%;
}

.addUrlButton {
  float: left;
  margin-left: 4px;
}

.subtractUrlButton {
  float: left;
  margin-left: 4px;
}

.keywordDiv {
  clear: both;
}
.keywordDiv:input[type="text"] {
  width: 80%;
}

.keywordInput {
  font-size: 20px;
  width: 80%;
}

.cronJobTimer {
  width: 35px;
}

.notificationView {
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.welcomePageView {
  border-top: 10px solid rgb(84,70,0);
  padding: 10px;
}

.welcomeBodyView {
  width: 550px;
}

.welcomeBodyView hr {
  color: black;
  background-color: black;
  width: 400px;
  border: 0;
  height: 2px;
}

.welcomeHowItWorks {
  background-color: white;
  border: 5px solid black;
  border-radius: 8px;
  padding: 10px;
  width: 550px;
}

.welcomeBodyView ol {
  padding-left: 15px;
}

.welcomeBodyView img {
  border: 5px solid black;
  border-radius: 8px;
}

.userSettingsInput {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
}

.save-user-btn {
  margin: 10px 0;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #666666;
  font-size: 20px;
  padding: 6px 24px;
  text-decoration: none;
}

.save-user-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}

.save-user-btn:active {
  position: relative;
  top: 3px;
}

.save-user-btn:focus {
  outline: none;
}
