* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: rgb(255,139,0);
}

.container {
  height:100%;
}

.header {
  background-color: rgb(197,50,0);
  clear: none;
}

nav {
  background-color: rgb(84,70,0);
  clear: ;
}

nav > a {
  color: white;
  display: inline-block;
  padding: 10px
}

nav > a:hover {
  background-color: rgb(196,150,100);
}

.bodyView {
  margin: 10px;
}

.giblet {
  position: relative;
  margin: 5px;
}

.big_plus_div {
  width: 30px;
}

.removeGibletButton {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}

.gibletTitleInput {
  height:100px;
  font-size:30pt;
}

.urlLine {
  clear: both;
}

.urlTextInput {
  float: left;
}

.addUrlButton {
  float: left;
  margin-left: 4px;
}

.subtractUrlButton {
  float: left;
  margin-left: 4px;
}

.keywordDiv {
  clear: both;
}

.notificationView {
  margin: 5px;
  padding: 10px;
  border: 1px black dotted;
}

.welcome {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

svg rect {
  fill: #000000;
}

svg rect {
  -webkit-transition: all 800ms;
  -webkit-transform: scaleY(1);
  -webkit-transform-origin: 50% 50%;
}
